.cardText {
  width: 40vw;
  height: 70vh;
  margin: 10px;
  border-radius: 10px;
  transition: 0.2s;
}

.cardText:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}
.tituloCard {
  font-size: 25px;
  font-family: "Quicksand", sans-serif;
}
.imgCard {
  margin-top: 10px;
  height: 70%;
  transition: 0.2s;
}
.imgCard:hover {
  transform: scale(1.1) rotate(1deg);
  transition: 0.2s;
}
.btnlog {
  width: 40%;
}
.btncont {
  flex: auto;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1280px) {
  .imgCard{
    height: 62%;
  }
  .cardText {
    width: 80vw;
    height: 38vh;
    margin: 10px;
    border-radius: 10px;
    transition: 0.2s;
  }
  .btnlog {
    width: 80%;
  }
  .tituloCard{
    font-size: 20px;
  }
}

/* texto resumen forma parte del modulo App.js */
.textoResumen{
    display: flex;
    align-items: center;
    justify-content: center;
}
.textoResumen > div > h1{
    font-size: 60px;

}
.textoResumen > div > p{
    font-size: 18px;
    text-align: justify;
}