@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Rubik:ital,wght@1,300&display=swap");

.Contenedor404 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fa8bff;
  background-image: linear-gradient(
    45deg,
    #fa8bff 0%,
    #2bd2ff 52%,
    #2bff88 90%
  );
  font-family: "Quicksand", sans-serif;
  font-family: "Rubik", sans-serif;
}

.Contenedor404 > h1 {
  font-size: 10vw;
  font-weight: 600;
  font-style: italic;
}
