.accordion-item {
  background-color: rgba(89, 55, 240, 0.095) !important;
}

.imgAcerca {
  height: 300px;
}
@media screen and (max-width: 1001px) {
  .imgAcerca {
    height: 0;
    width: 0;
  }
 
  #preguntas {
    padding-top: 80px;
  }
  .contacto {
    width: 90vw !important;
  }
  textarea{
    height: 150px !important;
  }

}
#tituloAcerca,
.preguTi {
  width: 100%;
  font-size: 40px;
  font-family: "Quicksand", sans-serif;
  font-family: "Rubik", sans-serif;
}
#textoAcerca {
  text-align: justify;
  width: 100%;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  font-family: "Rubik", sans-serif;
}
.contenedorTAc {
  align-items: center;
  justify-content: center;
}

.contacto {
height: 100vh;
  width: 50vw;
  align-items: center;
  justify-content: center;  
}
.contCon{
  background-color: rgba(42, 165, 25, 0.474);
    border-radius: 20px;
    padding: 10px;
    
}
textarea{
  height: 215px;
}
.acercaMiescolar {

  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}