.accordion-item {
  background-color: rgba(89, 55, 240, 0.095) !important;
}

.imgAcerca {
  height: 300px;
}
@media screen and (max-width: 1280px) {
  .imgAcerca {
    height: 0;
    width: 0;
  }
  .acercaMiescolar {
    padding-top: 80px;
  }
  #preguntas {
    padding-top: 80px;
  }
  .contacto {
    width: 90vw !important;
  }
}
#tituloAcerca,
.preguTi {
  width: 100%;
  font-size: 40px;
  font-family: "Quicksand", sans-serif;
  font-family: "Rubik", sans-serif;
}
#textoAcerca {
  text-align: justify;
  width: 100%;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  font-family: "Rubik", sans-serif;
}
.contenedorTAc {
  align-items: center;
  justify-content: center;
}

.contacto {
height: 100vh;
  width: 50vw;
  align-items: center;
  justify-content: center;  
}
.contCon{
  background-color: rgba(110, 111, 32.5, 0.5);
    border-radius: 20px;
    padding: 10px;
    border: 2px solid rgba(110, 111, 32.5, 0.5);
}