.navbarETutor {
  position: static !important;
  margin: 5px 5vw 0 5vw !important;
  width: 90vw;
  border-radius: 10px 10px 10px 10px;
  box-shadow: none;
}

.itemsNavTutor {
     color: white !important; 
    
}

#basic-nav-dropdown{
   color: white !important; 
  font-size: 1.5rem;
  
}

#btnSalirLog{
  margin-right: 10px;
  width: 100px;
}